@model CocktailCompass.Models.Cocktail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cocktail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            <img src="@Model.ImageURL" alt="Cocktail image" style="max-width: 100px;"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CocktailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
