@model IEnumerable<CocktailCompass.Models.CocktailFavorite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cocktail.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cocktail.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CocktailFavoriteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CocktailFavoriteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CocktailFavoriteId })
        </td>
    </tr>
}

</table>
