@model IEnumerable<CocktailCompass.Models.Cocktail>

@{
    ViewBag.Title = "My Favorites";
}

<style>
    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
</style>

<h2>My Favorite Cocktails</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@item.ImageURL" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Instructions</p>
                    <form action="@Url.Action("RemoveFromFavorites", "CocktailFavorites")" method="post">
                        @Html.Hidden("cocktailId", @item.CocktailId)
                        <button type="submit" class="btn btn-danger">Remove Favorite</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
